
<navbar></navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>


<br><br><br><br><br><br><br><br><br><br>

<div class="container"  style="margin-top:1000px ;">
  <h1 style="color:red ;"> Pips </h1>
  <p>{{body | resume:30}}</p>



  <h1 style="color:red ;">Intput Output ( Events) </h1>
  <app-favorite [is-fav]="post.isValid" (change)="onFavoriteChanged($event)"></app-favorite>

  <h1 style="color:red ;"> le contenu d'un balise devient DYNAMIQUE </h1>
  <panel>
    <div class="header">This is the header </div>
    <div class="body">
      <h3>This is body </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis praesentium, iure veniam ad sapiente quae illo
        velit, eos distinctio odio officia impedit nesciunt repellendus. Sint, doloribus quia. Ducimus, expedita quis.
      </p>
    </div>
  </panel>


  <h1 style="color:red ;"> les directives </h1>
  <h2>*ngIf </h2>
  <!-- les derictives -->
  <!-- ngIF ( condition ) -->
  <!-- 1ér methode -->
  <div *ngIf="courses.length> 0">
    List de mes Cours
  </div>

  <div *ngIf="courses.length == 0">
    pas de cours
  </div>

  <!-- 2éme methode -->

  <div *ngIf="courses.length> 0 ; else  noCourses">
    List de mes Cours
  </div>

  <ng-template #noCourses>
    pas de cours
  </ng-template>

  <!-- 3eme methode -->
  <div *ngIf="courses.length> 0;then Courses else  noCourses">

  </div>

  <ng-template #Courses>
    List de mes Cours
  </ng-template>

  <ng-template #noCourses>
    pas de cours
  </ng-template>


  <div [hidden]="courses.length==0"> Liste de mes cours</div>
  <div [hidden]="courses.length>0"> Pas de cours </div>



  <!-- ngSwitchCase-->
  <h2>*ngSwitchCase </h2>
<ul class="navbar navbar-expand-lg navbar-light bg-light">
  <li class="nav-item " style=" list-style-type: none; "><button class="btn btn-outline-primary me-2 " [class.active]="viewCourse == 'Laravel'" type="button" (click)="viewCourse = 'Laravel'" >Laravel</button></li>
  <li class="nav-item " style=" list-style-type: none; "><button class="btn btn-outline-primary me-2" [class.active]="viewCourse == 'Angular'"  type="button" (click)="viewCourse = 'Angular'">Angular</button></li>
  <li class="nav-item" style=" list-style-type: none; "><button class="btn btn-outline-primary me-2" [class.active]="viewCourse == 'React'" type="button" (click)="viewCourse = 'React'">React</button></li>

</ul>

<div [ngSwitch]="viewCourse">
  <div *ngSwitchCase="'Laravel'" >Lorem Laravel</div>
  <div *ngSwitchCase="'Angular'">Lorem Angular</div>
  <div *ngSwitchCase="'React'">Lorem react</div>
</div>



<h2>*ngFor</h2>

  <!-- <courses></courses> -->
  <button class="btn btn-success" (click)="AddCourse()">Ajouter</button>
  <button class="btn btn-outline-primary" (click)="LoadCourses()">Showin data</button>

<ul>
  <li *ngFor="let cours of cours; index as i; first as isEven;trackBy :trackCourse"  >
    <!-- tackBy :trackCourse => ila kant 3ndna data  o jina  recuperiw  data  my chargich  data li deja  3ndna  (kay verifier wach kayna si oui makayloawdihach snn kay loadiha )  -->
    <!-- index de chaqu'element dans le tableau => index -->
    <!-- even les valeur pair  -->
    <!-- detecter le 1er element : first as ... aussi last as  ( la derniére element ) -->
  <span *ngIf="isEven">Even- </span> {{i}} {{cours.id}}  {{cours.title}}
  <button class="btn btn-danger" (click)="remove(cours)">delete</button>
  <button class="btn btn-info" (click)="update(cours)">update</button>
  </li>
</ul>





<h2>*ngClass</h2>
<div>
  <h1  [style.color]="isSelected ? 'red' : 'blue'" [style.font-size]="isSelected ? '40px' : '20px'"

  [ngStyle]="{
        'color':isSelected ? 'red' : 'black',
        'font-size':isSelected ? '70px' : '80px'
      }
  "

  > <i (click)="onClick()"  [ngClass]="{'bi bi-star':isSelected,
    'bi bi-star-fill':!isSelected}

    "></i></h1>
</div>


<h2> safe traversal operator </h2>
<!-- matalan chi personne  ma3ndoch l adresse = null => ay3tik error l 7al howa (2 sol 1-ngIf , 2- traversal safe operation)  -->
<!-- <p *ngIf="personne.adresse"> {{personne.adresse.ville}}</p> -->
<p> {{personne.adresse?.['ville']}}</p>


<!-- Créer sa propre directive  -->
<br>
<h2>Créer sa propre directive</h2>

<input type="text"  [appInputFormat]="'upperCase'" >


<br><br><br>

<div class="col-md-6 col-md-offset-3">
  <h1>Forms driven</h1>
  <contact-form></contact-form>
</div>



<br><br><br><br>
  <h1>Reactive form </h1>
  <singup-form></singup-form>
  <br><br><br><br>
  <h1>Cinsommer une  Api REST</h1>
<posts></posts>

<br><br>
<h2>Exo</h2>
<app-git></app-git>
</div>
